<nav class="nav-bar-dark">
    <div class="container">
        <a routerLink="" class="navbar-brand">
            <img src="/assets/images/buggedOutLogo.png" alt="">
        </a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    anema@ail.com
                </a>
                <div class="dropdown-menu" area-labelledby='nav-dropdown'>
                    <a href="#" class="dropdown-item">Sign Out</a>
                 </div>
            </li>
        </ul>
    </div>
</nav>